<launch>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_1.launch"/>
  <node pkg="lab4" type="camera_node.py" name="camera_node" output="screen"/>
  <node pkg="lab4" type="status_publisher.py" name="status_publisher" output="screen"/>
  <node pkg="lab4" type="logger.py" name="logger" output="screen"/>
  <node pkg="lab4" type="wall_follower.py" name="wall_follower" output="screen"/>
</launch>
